process {
    withName:
        "DOWNLOAD_GENOMES" {
            container = "quay.io/biocontainers/ncbi-acc-download:0.2.7--pyh3252c3a_0"
            cpus = 1
            memory = "1 GB"
    }
    withName:
        "PROKKA" {
            container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
            cpus = 2
            memory = "2 GB"
    }
    withName:
        "GET_GENES|GET_RRNA" {
            container = 'quay.io/biocontainers/biopython:1.78'
            cpus = 2
            memory = "2 GB"
    }
    withName:
        "ALIGN_MARKERS" {
            container = 'biocontainers/clustalo:v1.2.4-2-deb_cv1'
            cpus = 2
            memory = "2 GB"
    }
    withName:
        "RAXML" {
            container = "quay.io/biocontainers/raxml-ng:1.0.2--h32fcf60_1"
    }

}
