process {
    withName:
        "DOWNLOAD_GENOMES" {
            container = "quay.io/biocontainers/ncbi-acc-download:0.2.7--pyh3252c3a_0"
            cpus = 1
            memory = "1 GB"
    }
    withName:
        "PROKKA" {
            container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
            cpus = 1
            memory = "1 GB"
    }
}
